<h1><%= heading %></h1>
<form id="new_todo">
  <label for="todo_name">Todo List Name</label>
	<input type="text" name="todo_name" class="todo_name"></input>
	<button type="submit" name="create_todo" class="create_todo">Create Todo</button>
</form>